<!DOCTYPE html>
<html>

<head>
	<title>برنا ابزار</title>
</head>

<body>
	<style>
		.container {
			margin: 2rem auto;
			padding: 1rem 1.5rem;
			direction: rtl;
			font-family: system-ui;
			border-radius: 0.5rem;
			background-color: #f1f1f1;

		}

		.btn {
			background-color: #586ae9;
			color: #fff;
			padding: 0.5rem 1.5rem;
			font-weight: bold;
			border-radius: 0.3rem;
		}

		.sec-1 {
			text-align: center;
			line-height: 1.5rem;
		}
	</style>
	<div class="container py-4">

		<h4>برنا ابزار - پیشرو در صنعت ابزارآلات صنعتی</h4>
		<section class="">
			<div class="sec-1">
				<div class="call-to-action-content">
					<h3>{{message.title}}</h3>
					<p class="mb-0">{{message.text}}</p>
				</div>
			</div>
			<div class="sec-1">
				<div class="call-to-action-btn">
					<a href="#" target="_blank" class="btn">{{message.btn}}</a>
				</div>
			</div>
		</section>

	</div>
</body>

</html>