{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div role="main" class="main">

    <div class="container py-4">

        <div class="row">
            <div class="col">
                <div class="blog-posts">

                    <div class="row appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="300">
                        {% for post in posts %}
                        <div class="col-md-4">
                            <article class="post post-medium border-0 pb-0 mb-5">
                                <div class="post-image">
                                    <a href="{% url 'blog:blog-detail' blog_id=post.pk %}">
                                        {% if post.image_cover %}
                                        
                                        <img src="{{ post.image_cover.url }}"
                                            class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                            {% else %}
                                            <img src="{% static 'img/blog/medium/placeholder.jpg' %}"
                                                class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="post-content">

                                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a
                                            href="{% url 'blog:blog-detail' blog_id=post.pk %}">{{post.title}}</a></h2>
                                    <p>{{post.content|striptags|safe|slice:":150"}} ...</p>

                                    <div class="post-meta">
                                        <span><i class="far fa-user"></i> توسط <a href="#">{{post.user.fullname}}</a>
                                        </span>
                                        <span><i class="far fa-folder"></i> <a href="#">{{post.category.title}}</a>
                                        </span>
                                        <span><i class="far fa-comments"></i> <a href="#">{{post.comments_count}}
                                                دیدگاه</a></span>
                                        <span class="d-block mt-2"><a
                                                href="{% url 'blog:blog-detail' blog_id=post.pk %}"
                                                class="btn btn-xs btn-light text-1 text-uppercase float-right">مطالعه
                                                بیشتر</a></span>
                                    </div>

                                </div>
                            </article>
                        </div>
                        {% empty %}
                        <h3 class="mt-5 text-center">تاکنون پستی منتشر نشده است!</h3>
                        {% endfor %}
                    </div>
                    {% if posts.has_other_pages %}
                    <div class="row mt-4">
                        <div class="col">
                            <ul class="pagination float-start">
                                {% if posts.has_previous %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{posts.previous_page_number}}"><i
                                            class="fas fa-angle-right"></i></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link disabled-el" href="#"><i
                                            class="fas fa-angle-right"></i></a></li>
                                {% endif %}
                                {% for page_number in page_range %}
                                {% if page_number == posts.number and page_number == paginator.ELLIPSIS %}
                                <li class="page-item active"><a class="page-link" href="#">{{page_number}}</a></li>
                                {% elif page_number == paginator.ELLIPSIS %}
                                <li class="page-item"><a class="page-link" href="#">{{page_number}}</a></li>
                                {% elif page_number == posts.number %}
                                <li class="page-item active"><a class="page-link" href="#">{{page_number}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{page_number}}">{{page_number}}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if posts.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}"><i
                                            class="fas fa-angle-left"></i></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link disabled-el" href="#"><i
                                            class="fas fa-angle-left"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}

                </div>
            </div>

        </div>

    </div>

</div>
{% endblock main_content %}