{% extends "base-dashboard.html" %}
{% load static %}
{% block header %}
{% endblock header %}
{% block main_content %}
<div role="main" class="main">
	<section id="elements" class="section section-height-2 border-0 mt-5 mb-0 pt-5">

		<div class="container py-2">
			<div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
				<div class="col-lg-12">
					<h4>پیام‌های اخیر</h4>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									ردیف
								</th>
								<th>
									نام
								</th>
								<th>
									شماره تماس
								</th>
								<th>
									موضوع
								</th>
								<th>
									پیام
								</th>
								<th>
									مشاهده
								</th>
								<th>
									حذف
								</th>
							</tr>
						</thead>
						<tbody>
							{% for msg in messages %}
							<tr>
								<td>
									{{msg.row_num}}
								</td>
								<td>
									{{msg.name|default_if_none:'-'}}
								</td>
								<td>
									{{msg.phone|default_if_none:'-'}}
								</td>
								<td>
									{{msg.subject|slice:":35"}} ...
								</td>
								<td>
									{{msg.message|slice:":50"}} ...
								</td>
								<td>
									<a href="?view={{msg.pk}}" target="_blank"><i
											class="far fa-eye text-success text-6"></i></a>
								</td>
								<td>
									<a href="?delete={{msg.pk}}"><i
											class="far fa-window-close text-danger text-6"></i></a>
								</td>
							</tr>
							{% empty %}
							<h3>لیست پیامها خالی می‌باشد.</h3>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
</div>
{% endblock main_content %}
{% block end_body %}

{% endblock end_body %}