{% extends "base-dashboard.html" %}
{% load static %}
{% block header %}
{% endblock header %}
{% block main_content %}
<div role="main" class="main">
	<section id="elements" class="section section-height-2 border-0 mt-5 mb-0 pt-5">

		<div class="container py-2">
			<div class="row justify-content-center appear-animation" data-appear-animation="fadeInUpShorter"
				data-appear-animation-delay="400">
				<h4>جزییات نظرسنجی شماره <strong>12548</strong></h4>
				<div class="col-lg-8">
					<div class="d-flex flex-column flex-md-row justify-content-between py-3 px-4 my-4">
						<div class="text-center">
							<span>
								شماره نظرسنجی<br>
								<strong class="text-color-dark">12548</strong>
							</span>
						</div>
						<div class="text-center mt-4 mt-md-0">
							<span>
								تاریخ <br>
								<strong class="text-color-dark">24 بهمن 1401</strong>
							</span>
						</div>
						<div class="text-center mt-4 mt-md-0">
							<span>
								نام و نام خانوادگی<br>
								<strong class="text-color-dark">محمد شایان</strong>
							</span>
						</div>
						<div class="text-center mt-4 mt-md-0">
							<span>
								شماره تماس<br>
								<strong class="text-color-dark">09120000000</strong>
							</span>
						</div>
						<div class="text-center mt-4 mt-md-0">
							<span>
								ایمیل<br>
								<strong class="text-color-dark">a@b.com</strong>
							</span>
						</div>
					</div>
					<div class="card border-width-3 border-radius-0 border-color-hover-dark mb-4">
						<div class="card-body">
							<table class="shop_table cart-totals mb-0 fixed">
								<tbody>
									<col width="40%" />
									<col width="60%" />
									<tr>
										<td colspan="2" class="border-top-0">
											<strong class="text-color-dark">جزییات فرم نظرسنجی</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span
												class="d-block text-color-grey line-height-1 font-weight-semibold">جنسیت</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">مرد</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span
												class="d-block text-color-grey line-height-1 font-weight-semibold">تحصیلات</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">کارشناسی
												ارشد</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span class="d-block text-color-grey line-height-1 font-weight-semibold">آیا
												صاحب کسب و کار تولیدی هستید؟</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">بله</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span
												class="d-block text-color-grey line-height-1 font-weight-semibold">نحوه
												آشنایی با شرکت برنا ابزار؟</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">از طریق
												دوستان</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span
												class="d-block text-color-grey line-height-1 font-weight-semibold">چقدر
												از کیفیت محصولات راضی هستید؟</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">متوسط</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span class="d-block text-color-grey line-height-1 font-weight-semibold">به
												پشتیبانی فنی برنا ابزار از عدد 10 چه امتیازی می‌دهید؟</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">6</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span class="d-block text-color-grey line-height-1 font-weight-semibold">چند
												درصداحتمال دارد ما را به دوستان خود معرفی نمایید؟</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">70</strong>
										</td>
									</tr>
									<tr>
										<td>
											<span class="d-block text-color-grey line-height-1 font-weight-semibold">نظر
												خود در خصوص شرکت برنا ابزار را بیان نمایید.</span>
										</td>
										<td class="text-end align-top">
											<strong class="amount font-weight-semibold text-color-dark">شرکت برنا ابزار
												یکی از شرکت‌های مناسب و معتبر در زمینه تولید تجهیزات برش و صنعتی بوده و
												لذا بنده به عنوان یکی از مشتریان قدیمی بسیار علاقه‌مند به افزایش دامنه
												همکاری با این شرکت می‌باشم.</strong>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
</div>
{% endblock main_content %}
{% block end_body %}

{% endblock end_body %}